@header-text-main-color: #fff;
@header-text-bg: #324b5a;
@post-header-bg: #7D71D8;
@header-btn-color: #FFB640;
@header-overlay-height: 5rem;

@main-bg: #fafafa;
@main-content-bg: white;

@sphere-description-bg: #FFB640;
@sphere-description-overlay-height: 8rem;

@footer-bg: #324b5a;
@footer-copy-bg: #1b2937;
@footer-overlay-height: 10rem;
@text-footer-h: #5D4BD8;
@text-footer: white;

@custom-font: CamptonLight;

@phone: 480px;
@tablet: 768px;
@desktop: 1024px;


@font-face {
  font-family: "CamptonW00-Book";
  src: url("//db.onlinewebfonts.com/t/c256e88ad8cfdaf15f00416a8d0907a8.eot");
  src: url("//db.onlinewebfonts.com/t/c256e88ad8cfdaf15f00416a8d0907a8.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/c256e88ad8cfdaf15f00416a8d0907a8.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/c256e88ad8cfdaf15f00416a8d0907a8.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/c256e88ad8cfdaf15f00416a8d0907a8.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/c256e88ad8cfdaf15f00416a8d0907a8.svg#CamptonW00-Book") format("svg");
}

@font-face {
  font-family: "CamptonBold";
  src: url("../fonts/CamptonBold.otf") format("opentype");
}

@font-face {
  font-family: "CamptonLight";
  src: url("../fonts/CamptonLight.otf") format("opentype");
}

@font-face {
  font-family: "CoarseRounded";
  src: url("../fonts/CoarseRounded.otf") format("opentype");
}

body {
  font-family: CamptonW00-Book;
  background-color: @main-bg;
}

.row {
  margin: 0;
}

.slider .slides {
  background: none;
}

.slider .slides li .caption h3 {
  color: #1e3746;
  font-size: 5rem;
  font-weight: 600;
  text-align: center;
}

/*
landing-page
*/

#landing-page {

  header {
    background-color: @post-header-bg;
    position: relative;
    min-height: 45rem;

    &:after {
      position: absolute;
      display: block;
      width: 100%;
      content: "";
      height: @header-overlay-height;
      bottom: -@header-overlay-height;
      background: @post-header-bg;
    }

    .header {
      /*background-color: @footer-bg;*/
      font-family: @custom-font;
      color: @header-text-bg;

      font-size: 2rem;
      padding: 1rem 0 1rem 5rem;
    }

    .post-header-text {
      font-size: 5rem;
      font-weight: 600;
      padding: 5rem 0 5rem 0;
    }
  }

  main {
    padding: 0 1rem;
    overflow: visible;
    position: relative;

    .description {
      z-index: 10;
      margin-bottom: 5rem;
      font-size: 2rem;
      overflow: visible;
      padding-bottom: 8rem;
      background-color: @main-content-bg;

      .description-text {
        padding: 8rem 4rem 4rem 4rem;
        color: @header-text-bg;
      }

      .description-soon {
        padding: 0 4rem 2rem 4rem;
      }

      .post-header-buttons {
        font-size: 1.5rem;
        padding: 0 0 1em 0;
        position: relative;

        a {
          position: absolute;
          width: 45%;
          background-color: @header-btn-color;
          color: #1e3746;
          border-radius: 5px;
          cursor: pointer;
        }

        a:first-child {
          left: 0;
        }

        a:last-child {
          right: 0;
        }

        .download-btn {
          padding: 1rem;
          font-size: 1.5rem;
          height: auto;
          text-transform: none;
        }

        .custom-icon {
          font-size: 2rem;
        }
      }
    }

    .video-block  {
      z-index: 10;
      position:relative;
      padding-bottom:56.25%;
      padding-top:30px;
      margin-bottom: 5rem;
      height:0;
      overflow:hidden;

      iframe, object, embed {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
      }
    }

    .visual-description {
      margin: 5rem 0;
      padding: 0;
      position: relative;
      z-index: 2;
      /*background-color: #fff;*/

      .visual-description-title {
        font-family: @custom-font;
        font-size: 2.5rem;
        font-weight: 600;
        padding-bottom: 1rem;
      }

      .card-image {
        overflow: hidden;
      }

      img {
        width: 100%;
        transform: scale(1.0);
        transition: 1s;
      }

      img:hover {
        transform: scale(1.1);
        transition: 1s;
      }

      .caption {
        margin-top: 1rem;
        color: @text-footer-h;
        font-size: 2rem;
        font-weight: 600;
        padding: 1rem 0;
      }
    }
  }

  .sphere-description {
    background-color: @sphere-description-bg;
    position: relative;
    margin-bottom: @sphere-description-overlay-height;

    .sphere-description-title {
      font-family: @custom-font;
      font-size: 4rem;
      font-weight: 600;
      padding-bottom: 1rem;
    }

    &:before {
      height: @sphere-description-overlay-height;
      top: -@sphere-description-overlay-height;
      background-color: @sphere-description-bg;
      content: '';
      position: absolute;
      z-index: 0;
      width: 100%;
    }

    &:after {
      height: @sphere-description-overlay-height;
      background-color: @sphere-description-bg;
      content: '';
      position: absolute;
      z-index: -1;
      width: 100%;
    }

    .card {
      overflow: hidden;
      border: none;
      border-radius: 0;

      img {
        border: none;
        border-radius: 0;
        min-width: 100%;
        height: 20rem;
        transform: scale(1.0);
        transition: 1s;
      }

      img:hover {
        transform: scale(1.1);
        transition: 1s;
      }
    }

    .col {
      padding: 0;
      max-height: 20rem;
    }
  }

  footer {
    color: @text-footer;
    position: relative;
    z-index: 0;

    &:before {
      height: @footer-overlay-height;
      top: -@footer-overlay-height;
      background-color: @footer-copy-bg;
      content: '';
      position: absolute;
      z-index: 1;
      width: 100%;
    }

    .footer-copyright {
      background-color: @footer-copy-bg;

      .container {
        height: 10rem;
        font-size: 3rem;
        color: @text-footer-h;
        padding: 0.5em 2rem;
        a {
          color: @text-footer-h;
          cursor: pointer;
        }
      }
    }
  }
}

@media (min-width: @desktop) {
  #landing-page {

    header {
      background-color: @post-header-bg;
      position: relative;
      min-height: 45rem;

      &:after {
        position: absolute;
        display: block;
        width: 100%;
        content: "";
        height: @header-overlay-height;
        bottom: -@header-overlay-height;
        background: @post-header-bg;
      }

      .header {
        font-size: 2rem;
        padding: 1rem 0 1rem 5rem;
      }

      .post-header-text {
        font-size: 5rem;
        font-weight: 600;
        padding: 5rem 0 5rem 0;
      }
    }

    main {
      padding: 0 6rem;

      .description {
        .post-header-buttons {
          a {
            position: absolute;
            width: 30%;
            background-color: @header-btn-color;
            color: #1e3746;
            border-radius: 5px;
            cursor: pointer;
          }

          a:first-child {
            left: 12%;
          }

          a:last-child {
            right: 12%;
          }

          .download-btn {
            padding: 1rem;
            font-size: 1.5rem;
            height: auto;
            text-transform: none;
          }

          .custom-icon {
            font-size: 2rem;
          }
        }
      }

      .video-block {
        width: 60%;
        left: 20%;
        padding-bottom: 35%;

        iframe, object, embed {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }


  }
}

@media (max-width: @phone) {

  .slider .slides li .caption h3 {
    font-size: 3rem;
  }

  #landing-page {
    header {
      .header {
        font-size: 2rem;
        padding: 0 0 3rem;

        .title {
          text-align: center;
        }
      }

      .post-header-text {
        font-size: 3rem;
        font-weight: 600;
        padding: 5rem 0 5rem 0;
      }
    }

    main {
      padding: 0 1rem;

      .description {
        padding: 1rem;

        .description-text {
          padding: 6rem 2rem 4rem 2rem;
          font-size: 1.6rem;
        }

        .post-header-buttons {
          a {
            position: relative;
            width: 80%;
            margin-bottom: 2rem;
            display: block;
            background-color: @header-btn-color;
            color: #1e3746;
            border-radius: 5px;
            cursor: pointer;
          }

          a:first-child, a:last-child {
            left: 10%;
          }

          .download-btn {
            padding: 1rem;
            font-size: 1.5rem;
            height: auto;
            text-transform: none;
          }

          .custom-icon {
            font-size: 2rem;
          }
        }
      }

      .visual-description {
        .img-wrapper {
          padding: 1em 0 0 0;
        }

        img {
          width: 100%;
        }

        .caption {
          margin-top: 1rem;
          color: @text-footer-h;
          font-size: 2rem;
          font-weight: 600;
          padding: 1rem 0;
        }
      }
    }

    .sphere-description {
      background-color: @sphere-description-bg;
      position: relative;
      margin-bottom: @sphere-description-overlay-height;

      .sphere-description-title {
        font-family: @custom-font;
        font-size: 2.5rem;
        font-weight: 600;
        padding-bottom: 1rem;
      }
    }

    footer {
      color: @text-footer;
      position: relative;
      z-index: 0;

      &:before {
        height: @footer-overlay-height;
        top: -@footer-overlay-height;
        background-color: @footer-copy-bg;
        content: '';
        position: absolute;
        z-index: 1;
        width: 100%;
      }

      .footer-copyright {
        background-color: @footer-copy-bg;

        .container {
          height: 10rem;
          font-size: 3rem;
          color: @text-footer-h;
          padding: 0.5em 2rem;
          a {
            color: @text-footer-h;
            cursor: pointer;
          }
        }
      }
    }

  }


}